<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h2>HTML FORM SUBMITTED</h2>
        <h4>Hey, <%= person.name %>. You age is <%= person.age %>, and your subject is <%= person.subject %></h4>
        <p>Your form has been submitted.</p>

        <a href="/read">Go to Read</a><br><br>
        <a href="/">Home Page</a> <br><br>

  </body>
</html>
