<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Form</title>
</head>

<body>
  <h2>Updated</h2>
  <h4>Hey <%= person.name %>, you details has been updated.</h4> <br><br>
  <a href="/read">Go to Read</a><br><br>
  <a href="/">Home Page</a> <br><br>
</body>

</html>
